<div class="home-page">
    <header>
      <div class="auth-buttons">
        <button class="btn login-btn" (click)="navigateToLogin()">Login</button>
        <button class="btn signup-btn" (click)="navigateToSignup()">Sign Up</button>
        <!--button class="btn signup-btn" (click)="navigateToProfile()">Go to Profile</button>
        <button class="btn login-btn" (click)="openGame()">New Game</button-->
      </div>
        <img [src]="'logo.jpg'" alt="image">
      <p>
        Hangman is a fun and educational game where you try to guess the letters
        in a word within a limited number of attempts. Each incorrect guess brings
        the hangman closer to completion, Try to guess the word before the hangman is fully drawn!
      </p>
    </header>
  
    
  </div>

  <div class="home-page">
    
  </div>
  
  
