<div class="game-container">
  <h1>Hangman Game</h1>

  <div *ngIf="remainingAttempts > 0">
    <p><strong>Word:</strong> 
      <span>{{ displayWord.split('').join(' ') }}</span>
    </p>

    <p><strong>Incorrect Guesses:</strong> 
      <span>{{ incorrectGuesses.join(', ') }}</span>
    </p>

    <p><strong>Remaining Attempts:</strong> 
      <span>{{ remainingAttempts }}</span>
    </p>
    
    <!-- Displaying the Hangman Keypad -->
    <div class="keypad">
      <div class="row">
        <button *ngFor="let letter of alphabet" (click)="guessLetter(letter)" [disabled]="incorrectGuesses.includes(letter) || displayWord.includes(letter)">
          {{ letter }}
        </button>
      </div>
    </div>
  </div>

  <!-- Game Over / Win Message -->
  <div *ngIf="remainingAttempts === 0 || displayWord === selectedWord">
    <button (click)="startGame()">Start New Game</button>
  </div>
</div>
