<div class="profile-page">
    <h2>Profile</h2>
    <div class="profile-info">
      <img [src]="userData.picture" alt="Profile Picture" class="profile-picture" />
      <p><strong>Username:</strong> {{ userData.username }}</p>
      <p><strong>Name:</strong> {{ userData.name }}</p>
      <p><strong>Email:</strong> {{ userData.email }}</p>
      <p><strong>Credit Card:</strong> {{ userData.creditCard }}</p>
      <p><strong>Preferences:</strong> {{ userData.preferences }}</p>
      <p><strong>Highest Score:</strong> {{ userData.highestScore }}</p>
    </div>
  </div>
  