.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
  
    h2 {
      text-align: center;
    }
  
    div {
      margin-bottom: 10px;
    }
  
    label {
      display: block;
      font-weight: bold;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 8px;
      font-size: 1em;
      margin-top: 5px;
    }
  
    button {
      width: 100%;
      padding: 10px;
      font-size: 1.2em;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 10px;
    }
    .success-message {
      color: rgb(22, 147, 3);
      font-size: 25px;
      margin-top: 10px;
    }
    
  }
  